In [10]:
import os
import pandas as pd
import numpy as np

In [11]:
df=pd.read_csv("body_performance_data.csv")
df.head()

,age,gender,height_cm,weight_kg,body fat_%,diastolic,systolic,gripForce,sit and bend forward_cm,sit-ups counts,broad jump_cm,class
0,27,M,172.3,75.24,21.3,80.0,130.0,54.9,18.4,60.0,217.0,C
1,25,M,165.0,55.80,15.7,77.0,126.0,36.4,16.3,53.0,229.0,A
2,31,M,179.6,78.00,20.1,92.0,152.0,44.8,12.0,49.0,181.0,C
3,32,M,174.5,71.10,18.4,76.0,147.0,41.4,15.2,53.0,219.0,B
4,28,M,173.8,67.70,17.1,70.0,127.0,43.5,27.1,45.0,217.0,B

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13393 entries, 0 to 13392
Data columns (total 12 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   age                      13393 non-null  int64
 1   gender                   13393 non-null  object
 2   height_cm                13393 non-null  float64
 3   weight_kg                13393 non-null  float64
 4   body fat_%               13393 non-null  float64
 5   diastolic                13393 non-null  float64
 6   systolic                 13393 non-null  float64
 7   gripForce                13393 non-null  float64
 8   sit and bend forward_cm  13393 non-null  float64
 9   sit-ups counts           13393 non-null  float64
 10  broad jump_cm            13393 non-null  float64
 11  class                    13393 non-null  object
dtypes: float64(9), int64(1), object(2)
memory usage: 1.2+ MB

In [13]:
df.reset_index(inplace=True)
df = df.rename(columns = {"index":"ID"})
df.head()

,ID,age,gender,height_cm,weight_kg,body fat_%,diastolic,systolic,gripForce,sit and bend forward_cm,sit-ups counts,broad jump_cm,class
0,0,27,M,172.3,75.24,21.3,80.0,130.0,54.9,18.4,60.0,217.0,C
1,1,25,M,165.0,55.80,15.7,77.0,126.0,36.4,16.3,53.0,229.0,A
2,2,31,M,179.6,78.00,20.1,92.0,152.0,44.8,12.0,49.0,181.0,C
3,3,32,M,174.5,71.10,18.4,76.0,147.0,41.4,15.2,53.0,219.0,B
4,4,28,M,173.8,67.70,17.1,70.0,127.0,43.5,27.1,45.0,217.0,B

In [17]:
Physical_metrics_df = pd.DataFrame(df[["ID", "age", "gender", "height_cm", "weight_kg", "body fat_%", "diastolic", "systolic"]])
Physical_metrics_df.head()

   ID  age gender  height_cm  weight_kg  body fat_%  diastolic  systolic
0   0   27      M      172.3      75.24        21.3       80.0     130.0
1   1   25      M      165.0      55.80        15.7       77.0     126.0
2   2   31      M      179.6      78.00        20.1       92.0     152.0
3   3   32      M      174.5      71.10        18.4       76.0     147.0
4   4   28      M      173.8      67.70        17.1       70.0     127.0

In [20]:
Physical_metrics_df = Physical_metrics_df.rename(columns = {"body fat_%" :"body_fat_%"})
Physical_metrics_df.head(10)

   ID  age gender  height_cm  weight_kg  body_fat_%  diastolic  systolic
0   0   27      M      172.3      75.24        21.3       80.0     130.0
1   1   25      M      165.0      55.80        15.7       77.0     126.0
2   2   31      M      179.6      78.00        20.1       92.0     152.0
3   3   32      M      174.5      71.10        18.4       76.0     147.0
4   4   28      M      173.8      67.70        17.1       70.0     127.0
5   5   36      F      165.4      55.40        22.0       64.0     119.0
6   6   42      F      164.5      63.70        32.2       72.0     135.0
7   7   33      M      174.9      77.20        36.9       84.0     137.0
8   8   54      M      166.8      67.50        27.6       85.0     165.0
9   9   28      M      185.0      84.60        14.4       81.0     156.0

In [21]:
Activity_metrics_df = pd.DataFrame(df[["ID", "gripForce", "sit and bend forward_cm", "sit-ups counts", "broad jump_cm", "class"]])
Activity_metrics_df.head()

   ID  gripForce  sit and bend forward_cm  sit-ups counts  broad jump_cm class
0   0       54.9                     18.4            60.0          217.0     C
1   1       36.4                     16.3            53.0          229.0     A
2   2       44.8                     12.0            49.0          181.0     C
3   3       41.4                     15.2            53.0          219.0     B
4   4       43.5                     27.1            45.0          217.0     B

In [22]:
Activity_metrics_df = Activity_metrics_df.rename(columns = {"sit and bend forward_cm" :"sit_and_bend_forward_cm", "sit-ups counts" :"sit_ups_counts", "broad jump_cm" :"broad_jump_cm"})
Activity_metrics_df.head(10)

   ID  gripForce  sit_and_bend_forward_cm  sit_ups_counts  broad_jump_cm class
0   0       54.9                     18.4            60.0          217.0     C
1   1       36.4                     16.3            53.0          229.0     A
2   2       44.8                     12.0            49.0          181.0     C
3   3       41.4                     15.2            53.0          219.0     B
4   4       43.5                     27.1            45.0          217.0     B
5   5       23.8                     21.0            27.0          153.0     B
6   6       22.7                      0.8            18.0          146.0     D
7   7       45.9                     12.3            42.0          234.0     B
8   8       40.4                     18.6            34.0          148.0     C
9   9       57.9                     12.1            55.0          213.0     B